<% include ./partials/header %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Icons</title>
    <link rel="stylesheet" href="./social-media-icons.css">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>
<style type="text/css">
.social-menu ul{
    position: absolute;
    bottom: 0px;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}
    .card{
        border: 0px;
    }

    section {
  padding: 5% 0;
}
.alizarin {
  background: #e74c3c;
}
.amethyst {
  background: #9b59b6;
}
.emerald {
  background: #2ecc71;
}
.midnight-blue {
  background: #2c3e50;
}
.peter-river {
  background: #3498db;
}
.dl {
  background: #f0f0f0;
  padding: 30px 0;
  border-radius: 20px;
  position: relative;
}
.dl:before {
  content: " ";
  height: 20px;
  width: 20px;
  background: #ddd;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -10px;
}
.dl .brand {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  min-height: 100px;
}
.dl .discount {
  min-height: 50px;
  position: relative;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  font-weight: 700;
  padding: 20px 15px 0;
  color: #f1c40f;
}
.dl .discount:after {
  content: " ";
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: 20%;
}
.dl .discount.alizarin:after {
  border-top: 20px solid #e74c3c;
}
.dl .discount.peter-river:after {
  border-top: 20px solid #3498db;
}
.dl .discount.emerald:after {
  border-top: 20px solid #2ecc71;
}
.dl .discount.amethyst:after {
  border-top: 20px solid #9b59b6;
}
.dl .discount .type {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -30px;
}
.dl .descr {
  color: #999;
  margin-top: 10px;
  padding: 20px 15px;
}
.dl .ends {
  padding: 0 15px;
  color: #f1c40f;
  margin-bottom: 10px;
}
.dl .coupon {
  min-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 15px;
}
.dl .coupon a.open-code {
  color: #16a085;
}
.dl .coupon .code {
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 15px;
  color: #f1c40f;
  background: #f0f0f0;
}

</style>
    <main>

        <!-- Slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.png">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s" style="color: ">Turn gift cards  <br> into cash</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Sell gift cards you don’t need. 
                                        Use the cash the way you want.</p>
                                    <!-- Hero-btn -->
                                    <div class="header-left-btn f-left d-none d-lg-block" style="margin-right: 30px;">
                                        <a href="/sell-gift-card/all" class="btn header-btn">Sell Gift Card</a>
                                    </div>
                                    <div class="header-left-btn f-left d-none d-lg-block">
                                        <a href="/check-balance/all" class="btn header-btn">Check Balance</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="assets/img/logo/home1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.png">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">We Collect<br> High Quality Leads</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="assets/img/hero/hero_right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="justify-content: center;align-items: center;text-align: center;">
           <a href="/check-balance/all">
            <img src="assets/sel.png"  height="100px" alt="">
           </a>

        </div>
        <!-- Slider Area End-->
        <section id="labels">
  <div class="container">
  <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="dl">
            <div class="brand">
                <h2>Black Friday </h2>
            </div>
            <div class="discount alizarin">20%
                <div class="type">off</div>
            </div>
       
            <div class="ends">
                <small>* Conditions and restrictions apply.</small>
            </div>
            <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-1" class="open-code">Get a code</a>
                <div id="code-1" class="collapse code">BLFNOV20</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div  class="dl">
            <div class="brand">
                <h2> Thanks Giving</h2>
            </div>
            <div class="discount emerald">
               30%
                <div class="type">
                    off
                </div>
            </div>
           
            <div class="ends">
                <small>
                   * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-2" class="open-code">Get a code</a>
                <div id="code-2" class="collapse in code">
                    TXGNOV20
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div  class="dl">
            <div class="brand">
                <h2>
                    Christmas
                </h2>
            </div>
            <div class="discount peter-river">
            15%
                <div class="type">
                    off
                </div>
            </div>
            <div class="ends">
                <small>
                   * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-3" class="open-code">Get a code</a>
                <div id="code-3" class="collapse code">
                    XMSNOV20
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div  class="dl">
            <div class="brand">
                <h2>
                    Haloween
                </h2>
            </div>
            <div class="discount amethyst">
                25%
                <div class="type">
                    off
                </div>
            </div>
           
            <div class="ends">
                <small>
                   * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-4" class="open-code">Get a code</a>
                <div id="code-4" class="collapse code">
                    HLWNOV20
                </div>
            </div>
          </div>
        </div>
  </div>
  </div>
</section>
        <!-- What We do start-->
        <div class="what-we-do we-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Popular Gift Cards</h2>
                        </div>
                    </div>
                </div>
              


              
                <div class="row">
                    <%cards.forEach((list)=>{if(list.card_name == "Home Depot" || list.card_name == "Target" || list.card_name == "Walmart" ){%>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                             <img src="<%=list.card_image%>" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4><%=list.card_name%></h4>
                                <!-- <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p> -->
                            </div>
                            <div class="do-btn">
                                <a href="/cards/<%=list._id%>"><i class="ti-arrow-right"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                    <%}})%>
                </div>
            </div>
        </div>
        <!-- What We do End-->
        <!-- We Create Start -->
   
        <!-- We Create End --><br>
        <!-- Generating Start -->
        <div class="generating-area ">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Gift Card Brands</h2>
                        </div>
                    </div>
                </div>


       

                         <div class="row" style="justify-content: center;">
<!-- <span><%=cards.length%></span> -->
                            <%cards.forEach((list)=>{if(list.card_image){%>
                    <div class="col-sm-4" style="width: 20rem;margin-bottom: 20px;justify-content: center;">
                        <!-- <span><%=list.card_name%></span> -->
                        <%if(list.card_image.includes('assets')){%>
                            <a href="/cards/<%=list._id%>"> <img src="https://https://gca.<%=list.card_image.substr(15,list.card_image.length)%>" class="card-img-top" alt="..."></a>

                            <%}else{%>
 <a href="/cards/<%=list._id%>"> <img src="<%=list.card_image%>" class="card-img-top" alt="..."></a>
 <%}%>
 
</div>
<%}})%>
          
                    
                </div>

             
            </div>
        </div>
             <div class="we-create-area create-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-img">
                            <img src="assets/img/logo/cwm.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-cap">
                            <h3>Save Your Way. Spend Your Way. </h3>
                            <p>At InfoGiftCard, we have one goal: to put money back into the pockets of consumers so that they can enjoy more cash to spend it on what matters most. With GiftCash, turning your unwanted gift cards into cash is a completely straightforward and secure process, while offering some of the shortest turnaround times and highest payout rates in the industry. Our commitment to ensuring that our clients can sell their gift cards with confidence has helped us become one of the leading gift card websites, and has allowed us to serve thousands of happy customers.</p>
                            <a href="/connect-with-market" class="btn">Connect now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Generating End -->
        <!--Choose Best start-->
 <!--        <div class="choose-best choose-padding">
            <div class="container">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-tittle text-center">
                            <h2>Choose Your Very Best Pricing Plan </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-growth"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 05.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose active text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-award"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 20.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-project"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 30.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Choose Best do End-->
        <!-- Visit Stuffs Start -->
<!--  -->
        <!-- Visit Stuffs Start -->
         <!-- Testimonial Start -->
         <div class="testimonial-area">
            <div class="container">
                <div class="social-menu" style="position: absolute;left: 700px;">
                    <ul>
                        <li><a href="https://github.com/sanketbodke" target="blank"><i class="fab fa-github"></i></i></a></li>
                        <li><a href="https://www.instagram.com/imsanketbodke/" target="blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/sanket-bodake-995b5b205/" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://codepen.io/sanketbodke"><i class="fab fa-codepen" target="blank"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        <!-- Tips Triks Start -->
 <!--  -->
        <!-- Tips Triks End -->
         <!-- have-project Start-->
   
        <!-- have-project End -->

    </main>
<% include ./partials/footer %>