<% include ./partials/header %>
<style type="text/css">
    .card{
        border: 0px;
    }

    section {
  padding: 5% 0;
}
.alizarin {
  background: #e74c3c;
}
.amethyst {
  background: #9b59b6;
}
.emerald {
  background: #2ecc71;
}
.midnight-blue {
  background: #2c3e50;
}
.peter-river {
  background: #3498db;
}
.dl {
  background: #f0f0f0;
  padding: 30px 0;
  border-radius: 20px;
  position: relative;
}
.dl:before {
  content: " ";
  height: 20px;
  width: 20px;
  background: #ddd;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -10px;
}
.dl .brand {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  min-height: 100px;
}
.dl .discount {
  min-height: 50px;
  position: relative;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  font-weight: 700;
  padding: 20px 15px 0;
  color: #f1c40f;
}
.dl .discount:after {
  content: " ";
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: 20%;
}
.dl .discount.alizarin:after {
  border-top: 20px solid #e74c3c;
}
.dl .discount.peter-river:after {
  border-top: 20px solid #3498db;
}
.dl .discount.emerald:after {
  border-top: 20px solid #2ecc71;
}
.dl .discount.amethyst:after {
  border-top: 20px solid #9b59b6;
}
.dl .discount .type {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -30px;
}
.dl .descr {
  color: #999;
  margin-top: 10px;
  padding: 20px 15px;
}
.dl .ends {
  padding: 0 15px;
  color: #f1c40f;
  margin-bottom: 10px;
}
.dl .coupon {
  min-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 15px;
}
.dl .coupon a.open-code {
  color: #16a085;
}
.dl .coupon .code {
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 15px;
  color: #f1c40f;
  background: #f0f0f0;
}

</style>
    <main>

        <!-- Slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.png">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s" style="color: ">Info <br> Gift Cards</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="/connect-with-market" class="btn hero-btn">Connect with Market Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="assets/img/logo/home1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.png">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">We Collect<br> High Quality Leads</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="assets/img/hero/hero_right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End-->
        <section id="labels">
  <div class="container">
  <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="dl">
            <div class="brand">
                <h2>Black Friday </h2>
            </div>
            <div class="discount alizarin">20%
                <div class="type">off</div>
            </div>
       
            <div class="ends">
                <small>* Conditions and restrictions apply.</small>
            </div>
            <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-1" class="open-code">Get a code</a>
                <div id="code-1" class="collapse code">BLFNOV20</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div  class="dl">
            <div class="brand">
                <h2> Thanks Giving</h2>
            </div>
            <div class="discount emerald">
               30%
                <div class="type">
                    off
                </div>
            </div>
           
            <div class="ends">
                <small>
                   * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-2" class="open-code">Get a code</a>
                <div id="code-2" class="collapse in code">
                    TXGNOV20
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div  class="dl">
            <div class="brand">
                <h2>
                    Christmas
                </h2>
            </div>
            <div class="discount peter-river">
            15%
                <div class="type">
                    off
                </div>
            </div>
            <div class="ends">
                <small>
                   * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-3" class="open-code">Get a code</a>
                <div id="code-3" class="collapse code">
                    XMSNOV20
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div  class="dl">
            <div class="brand">
                <h2>
                    Haloween
                </h2>
            </div>
            <div class="discount amethyst">
                25%
                <div class="type">
                    off
                </div>
            </div>
           
            <div class="ends">
                <small>
                   * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-4" class="open-code">Get a code</a>
                <div id="code-4" class="collapse code">
                    HLWNOV20
                </div>
            </div>
          </div>
        </div>
  </div>
  </div>
</section>
        <!-- What We do start-->
        <div class="what-we-do we-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Popular Gift Cards</h2>
                        </div>
                    </div>
                </div>
              


              
                <div class="row">
                    <%pop.forEach((list)=>{%>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                             <img src="<%=list.card_image%>" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4><%=list.card_name%></h4>
                                <!-- <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p> -->
                            </div>
                            <div class="do-btn">
                                <a href="/cards/<%=list._id%>"><i class="ti-arrow-right"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
            </div>
        </div>
        <!-- What We do End-->
        <!-- We Create Start -->
   
        <!-- We Create End --><br>
        <!-- Generating Start -->
        <div class="generating-area ">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Gift Card Brands</h2>
                        </div>
                    </div>
                </div>


       

                         <div class="row">
<!-- <span><%=cards.length%></span> -->
                            <%cards.forEach((list)=>{%>
                    <div class="card col" style="width: 10rem;">
 <a href="/cards/<%=list._id%>"> <img src="<%=list.card_image%>" class="card-img-top" alt="..."></a>
 
</div>
<%})%>
          
                    
                </div>

             
            </div>
        </div>
             <div class="we-create-area create-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-img">
                            <img src="assets/img/logo/cwm.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-cap">
                            <h3>Connect With Market </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis orem ipsum dolor sit amet, consectetur adipiscing.</p>
                            <a href="/connect-with-market" class="btn">Connect now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Generating End -->
        <!--Choose Best start-->
 <!--        <div class="choose-best choose-padding">
            <div class="container">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-tittle text-center">
                            <h2>Choose Your Very Best Pricing Plan </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-growth"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 05.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose active text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-award"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 20.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-project"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 30.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Choose Best do End-->
        <!-- Visit Stuffs Start -->
<!--  -->
        <!-- Visit Stuffs Start -->
         <!-- Testimonial Start -->
         <div class="testimonial-area">
            <div class="container">
               <div class="testimonial-main">
                    <!-- Section-tittle -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-5  col-md-8 pr-0">
                            <div class="section-tittle text-center">
                                <h2>What Client Say About Us</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-md-9">
                                <div class="h1-testimonial-active">
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Best gift card deals on time </p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                    <img src="assets/img/testmonial/testimonial.png" alt="">
                                                </div>
                                            <div class="founder-text">
                                                <span>Oliva jems</span>
                                                <p>UIX designer</p>
                                            </div>
                                            </div>
                                        </div>
                                    </div><!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Complete Information about GiftCards</p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                   <!--  <img src="assets/img/testmonial/testimonial.png" alt=""> -->
                                                </div>
                                            <div class="founder-text">
                                                <span>John</span>
                                                <p>Marketing Specialist</p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Testimonial End -->
        <!-- Tips Triks Start -->
 <!--  -->
        <!-- Tips Triks End -->
         <!-- have-project Start-->
   
        <!-- have-project End -->

    </main>
<% include ./partials/footer %>